<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>estudio 1</h1> - <h3>(years) </h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae eligendi minus temporibus deleniti totam amet accusamus, voluptatibus aut mollitia, et alias! Animi pariatur praesentium ut tenetur laboriosam quod mollitia illo?</p>
        </ul>
        <ul>
            <li>
                <h1>estudio 2</h1> - <h3>(years) </h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae eligendi minus temporibus deleniti totam amet accusamus, voluptatibus aut mollitia, et alias! Animi pariatur praesentium ut tenetur laboriosam quod mollitia illo?</p>
        </ul>
    </div>
</div>
