<div class="row">
    <h1 class="centrar">Proyectos realizados</h1>
    <br>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Proyecto 1</h3>
                <p>Aerodinámica en distintos modelos de alerones/colas impresas en 3D para auto en túnel de humo. 
                    Experiencia realizada en Laboratorio de Máquinas Térmicas e Hidráulicas. 
                    <br> videos:
                </p>
                <p class="centrar">
                    <br> <a href="https://www.youtube.com/shorts/Lfn3D2KJkWI"> Short 🚗💨</a>
                    <br> <a href="https://www.youtube.com/watch?v=kowRIEsY1W8&t=60s"> Video Completo 🚗💨</a> 
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href="https://www.youtube.com/watch?v=kowRIEsY1W8&t=60s">
                <img src="../../../assets/alerones.png" class="img-fluid img-proyecto" >
                </a>
            </div>

            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Proyecto 2</h3>
                <p>Relevamiento y diseño en SOLIDWORKS de Tamizadora de arenas para moldes de fundición del 
                    Laboratorio de Ensayos de Materiales (LEM) - UNRC. 
                </p>
                <p class="centrar">
                    <br> <a  href="https://www.youtube.com/watch?v=9CtMeeUvOlA&t=2s"> Video </a> 
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href="https://www.youtube.com/watch?v=9CtMeeUvOlA&t=2s">
                <img src="../../../assets/TAMIZADORA.png" class="img-fluid img-proyecto" >
                </a>
            </div>

        </div>
    </div>
</div>
