<div class="row">
    <h1>Hard & Soft Skills</h1>
    <!-- https://www.npmjs.com/package/ng-circle-progress -->
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="45" 
    [radius]="90"
    [outerStrokeWidth]="23"
    [outerStrokeLinecap]="'square'"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#F06529'"
    [innerStrokeColor]="'antiquewhite'"
    [animation]="true"
    [animationDuration]="2000"
    [imageSrc]="'../../../assets/HTML.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="40" 
    [radius]="90"
    [outerStrokeWidth]="23"
    [outerStrokeLinecap]="'square'"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#1572B6'"
    [innerStrokeColor]="'antiquewhite'"
    [animation]="true"
    [animationDuration]="2000"
    [imageSrc]="'../../../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="35" 
    [radius]="90"
    [outerStrokeWidth]="23"
    [outerStrokeLinecap]="'square'"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#F7DF1E'"
    [innerStrokeColor]="'antiquewhite'"
    [animation]="true"
    [animationDuration]="2000"
    [imageSrc]="'../../../assets/JavaScript.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="25" 
    [radius]="90"
    [outerStrokeWidth]="23"
    [outerStrokeLinecap]="'square'"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'antiquewhite'"
    [animation]="true"
    [animationDuration]="2000"
    [imageSrc]="'../../../assets/git hub.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="150"
    [showSubtitle]="false"
    [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="50" 
    [radius]="90"
    [outerStrokeWidth]="23"
    [outerStrokeLinecap]="'square'"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'white'"
    [innerStrokeColor]="'antiquewhite'"
    [animation]="true"
    [animationDuration]="2000"
    [imageSrc]="'../../../assets/English.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="135"
    [showSubtitle]="true"
    [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="80" 
    [radius]="90"
    [outerStrokeWidth]="23"
    [outerStrokeLinecap]="'square'"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'aquamarine'"
    [innerStrokeColor]="'antiquewhite'"
    [animation]="true"
    [animationDuration]="2000"
    [imageSrc]="'../../../assets/trabajo_en_equipo_y_solucion_de_problemas.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showSubtitle]="false"
    [showUnits]="false"
        ></circle-progress>
    </div>

<!-- [title]="'HTML'"
    [titleColor]="'aquamarine'"
    [titleFontSize]="'3em'"
    [lazy]="false"
-->
</div>

