.row{
    padding: 13px;
}
div{
    background-color: #00897b;
    text-align: center;
}
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute  ;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px aquamarine;
        left: 2%;
        top: 333px;
    }
}
@media (max-width: 576px){
    #fotodeperfil{
        position: absolute  ;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px aquamarine;
        left: 33%;
        top: 627px;
    }
}
#nombre{
    font-weight: bold;
    margin-top: 30%;
}