<div class="row ">
    <div class="row justify-content-evenly">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
            <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h3 id="nombre"> {{persona.nombre}} {{persona.apellido}} </h3> <!-- Lucas Emmanuel Ollo -->
            <br>
            <p>Desarrollador web Full Stack jr.</p>
            <br>
            <p>Estudiante Avanzado de Ingeniería Mecánica</p>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" >
            <span>
                <br>
                <h1 >Acerca de mí</h1>
                <br>
                <p > Soy una persona proactiva, autodidacta y curiosa. Me gusta demostrar mis habilidades y aprender nuevas.  </p>
            </span>
        </div>
    </div>
</div>
